
    <ul class="list-group list-group-horizontal" id="list-heading">
        <li class="list-group-item"> Product Name</li>
        <li class="list-group-item"> Product Description</li>
        <li class="list-group-item"> Rate</li>
        <li class="list-group-item"> Stock</li>
    </ul>
    
    <app-product *ngFor="let product of productList"
        [productName]="product.productName" 
        [productDescription]="product.productDescription"
        [price]="product.productPrice"
        [stock]="product.stock"
        >
    </app-product>
    
